[Desktop Entry]
Version=2023.6.1
Type=Application
Name=Appium Inspector
Comment=Appium Inspector to locate App element
TryExec=/opt/appium-inspector/Appium-Inspector-linux.AppImage
Exec=/opt/appium-inspector/Appium-Inspector-linux.AppImage
Icon=/opt/appium-inspector/appiuminspector.png
Actions=Editor